# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Build
out/
build/
target/

# Sistema
.DS_Store
Thumbs.db